Source: wmic
Section: base
Priority: optional
Maintainer: Osirium <support@osirium.com>
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, dh-autoreconf, python2.7
Standards-Version: 3.9.4
Homepage: https://www.osirium.com

Package: wmic
Section: base
Priority: optional
Architecture: any
Description: wmic
Breaks: osirium-wmic (<< 1:5.2.0)
Replaces: osirium-wmic (<< 1:5.2.0)
