#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DESTDIR=$(CURDIR)/debian/collectd

%:
	dh $@

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--localstatedir=/var \
		--sysconfdir=/etc \
	;
