#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--sysconfdir=/etc \
		--with-openssl \
		--disable-libiconv \
	;
